/* div.gallery {
  margin: 5px;
  border-radius:  1px solid #ccc;
  float: left;
}
html {
  background-image: url("img/background.jpg " );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.gallery img {
  width: 300px;
  height: 600px;
  border: 3px solid black;
}

/* div.gallery img:hover {
  border: 3px solid red;
} */

/* div.heading { 
  font-family: 'Itim', cursive;
  color:aqua;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 70;
}

div.gif {
  position: absolute;
  margin-left: 400px;
  margin-top: 180;
}

div.slide.slide img  {
  border: 3px solid red;
  margin-left: 80;
  margin-top: 50;
}

div.slidess {
  position:absolute;
  margin-top: 5px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color:aqua;
  margin-left: 400;
}

div.slidesssss img{
  position: absolute;
}  */

*
{
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}
body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}
.heading {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 1200px;
  text-align: center;
  font-size: 70px;
  font-style: oblique;
  color: blue;
  position: absolute;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
}
.swiper-slide {
  background-position: center;
  /* background-size: cover; */
  width: 300px;
  height: 600px;
  background: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}