*
{
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}
body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}
.heading {
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 800px;
  text-align: center;
  font-size: 70px;
  font-style:italic;
  color: blue;
  position: absolute;
}
.heading-2 {
  font-family:'Times New Roman', Times, serif;
  margin-top: 1400px;
  text-align: center;
  font-size: 70px;
  font-style:italic;
  color: blue;
  position: absolute;
}

.swiper-container {
  width: 100%;
  padding-top: 300px;
  padding-bottom: 300px;
}
.swiper-slide {
  background-position: center;
  /* background-size: cover; */
  width: 300px;
  height: 600px;
  background: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}



body{
  margin: 0;
  
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content:center;
  align-content:center;
  grid-gap: 10px;
  height: 170vh;
  position: absolute;
  margin-top: 10200px;
  
}

.grid img{
  width: 300px;
  height: 600px;
  cursor: pointer;
  border: 2px solid blue;
}

.grid img:hover{
  border: 2px solid red;
  transition: all 0.3s ease;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9); 
  display:none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img{
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}